# requirements to run Jupyter server
notebook
jupyterhub
jupyterlab

# requirements for vivarium-biosimulators
vivarium-core
biosimulators-utils
biosimulators-tellurium
biosimulators-cobrapy
biosimulators-copasi
